/* CSS Document */


body{
	
	}




#header > h2 {
	font-family:roboto;
	font-weight:900;
	font-size:18px;
	}
	
#videos h3, #videos h4{
	font-family:roboto;
	font-weight:900;
	font-size:16px;
	}	
	
#video_uno img{
	padding:0;
	border:3px solid #fff;
	}	


#menu > span{
	font-family:roboto;
	font-weight:900;
	}	
	
#boton{
	font-family:roboto;
	font-weight:900;
	font-size:20px;
	font-style:italic;
	}	
	
	

#text_menu{
	font-family:roboto;
	font-style:italic;
	}	
	
#menu_principal{
	font-family:roboto;
	}
	
.close{
	font-family:roboto;
	font-weight:900;
	}	
	
#contacto_wrap{
	font-family:roboto;
	}
	
	
#fondodos{
	 background: url("../img/background_contacto.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-ms-behavior: url(css/backgroundsize.htc);
	behavior: url(css/backgroundsize.htc);
	height: 100%;
    position: fixed;
    width: 100%;
	top:0;
	}		
	
	

.nano {
  position : relative;

  overflow : hidden;
}


.nano > .nano-content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top:            30px;
  right         : 0;
  bottom        : 0;
  left          : 0;
  padding-right:70px !important
}
.nano > .nano-content:focus {
  outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
  display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}
.nano > .nano-pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 5px;
  right      : 0;
  top        : 50px;
  bottom     : 0px;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01;
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
 
}
.nano > .nano-pane > .nano-slider {
  background: #5e7294;
  position              : relative;

}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}

#inicio{font-family:roboto;font-weight:bold;}	


